@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove spinner arrows from number inputs */
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  input[type="number"] {
    -moz-appearance: textfield;
  }

  /* TipTap styles */
  .ProseMirror {
    padding: 1rem 0;
    outline: none !important;
    min-height: 150px;
    max-height: 400px;
    overflow-y: auto;

    > * + * {
      margin-top: 0.75em;
    }

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background: #c1c1c1;
      border-radius: 4px;

      &:hover {
        background: #a1a1a1;
      }
    }

    p.is-editor-empty:first-child::before {
      color: #adb5bd;
      content: attr(data-placeholder);
      float: left;
      height: 0;
      pointer-events: none;
    }
  }
}